

// Spaces
$space: 1rem
$header-height: 50px
$footer-height: 50px
$aside-width: 200px

// Font sizes
$font-size-base: 16px
$font-size: 1rem
$font-size-sm: 0.6rem
$font-size-md: 0.8rem
$font-size-lg: 1.5rem

// Colors
$background-color: #f8f8f8
$primary: #ff2290
$white: #fff
$gray: #555
$font-color: #333

// Borders
$border: 1px solid #eee

// Shadow
$shadow: 1px 1px 3px rgba(0,0,0,0.1)

// Break points
$breakpoints: ( sm: 768px, md: 960px, lg: 1024px, xl: 1200px )