@import '~/app/styles/variables'

.aside
    position: relative

    &__container
        position: sticky
        top: calc( $header-height + $space )
        display: flex
        flex-direction: column
        gap: $space

    &__link
        text-decoration: none
        border-bottom: $border
        padding-bottom: $space
        &--active
            color: $primary
